body{
    font-family:Gabriola;
    color: #E4E4E4;
    background-image: url(CSS/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 1400px ;
    text-align: center;
    font-size: 30px;

}
.boton-enviar{
    background: #A34680;
    color: #fff;
    padding: 3px;
    font-family:  Gabriola;
    font-size: 25px;
    border-bottom: solid 5px #870BC5;

    
}